#menu ul{
margin: 0;
padding: 0;
list-style: none;
}
#menu li{
display: inline;
padding: 0;
margin: 0;
}
#menu li a{
display: block;
border-left: 8px solid #C97556;
background-color: #474655;
padding: 3px 10px;
text-decoration: none;
color: #E1E2CF;
width: 150px;
margin: 1px 0px;
text-align: left;
font-size: 14px;
}
#menu li a:hover{
border-left: 8px solid #990033;
background-color: #474655;
}
